/*
font-family: 'Roboto', sans-serif;
font-family: Arial, Helvetica, sans-serif;
font-family: 'Montserrat', sans-serif;
*/
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
::selection {
    background: #b3d4fc; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #b3d4fc; /* Gecko Browsers */
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav {
    display: block;
}
section h1{
    text-transform: uppercase;
}
section#front h3{
    margin-top: 50px;
}
table{
    text-align: left;
}
table th{
    text-transform: uppercase;
    letter-spacing: .1rem;
}
table td{
    width: 33%;
}
.container{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;

}
section{
    display: block;
    height: 100vh;
    min-height: 100%;

}
.justif{
    transform: translateY(50px);
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.info{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
}
.info ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
}
.info ul strong{
    display: block;
    text-transform: uppercase;
    letter-spacing: .1rem;
    
}
.info li{
    padding: 0 0 1.5rem 0;
    margin-bottom: .1rem;
}

.info li span{
    display: block;
}
.col-2{
    width: 480px;
    float: left;
    padding: 10px;
    margin: auto;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 40%
}
.social a:link, .social a:visited{
    color: black;
}
.social a.twt:hover, .social a.twt:active {
     color: rgb(29, 161, 242) !important;
}
.social a.ig:hover, .social a.ig:active{
    color: rgb(234, 76, 137) !important;
}
.social a.med:hover, .social a.med:active{
    color: rgb(0,171,108) !important;
}
.social a.likin:hover, .social a.likin:active{
    color: rgb(0, 119, 181) !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-96 { font-size: 96px; }