<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RadhiansyaZ - Story 1</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/d1e3c3bcb7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css-js/style.css' %}">
</head>
<body>
    <section id="front" class="container front">
        <h3>Hello there..</h3>
        <h1 style="font-size: 48px;">I'm Radhiansya Zain.</h1>
        <a class="arrow" href="#info">
            <i class="material-icons md-96">keyboard_arrow_down</i>
        </a>
        <div class="social">
          
            <a class="twt" href="https://twitter.com/radhiansya" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
          
            <a class="ig" href="https://www.instagram.com/rzap__/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a class="med" href="https://medium.com/@RadhiansyaZ" target="_blank"><i class="fab fa-medium fa-2x"></i></a>
            <a class="likin" href="https://id.linkedin.com/in/radhiansya-zain-antriksa-putra-043433150" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
    </section>
    <br>
    <section id="info" class="container info">
        <div class="col-2">
            <img class="pic" src="{% static 'img/profilepict.jpg' %}" alt="RadhiansyaZ">
            <br>
            <h1>Let me introduce myself.</h1>
            <article>
                I'm Freshmen in Computer Science major at Fasilkom UI. Currently passionate in searching of self passion and self motivation because I love procrastinating. However, I really like to read a lot of books, mainly Philosophy, Politics, and Non-fiction.
                For now, I'm interested in topics around Data Science.
            </article>
            <br>
        </div>
        <div class="col-2">
            <ul>
                <li>
                <strong>Fullname</strong>
                <span>Radhiansya Zain Antriksa Putra</span>
                </li>
                <li>
                <strong>Student Number</strong>
                <span>1906398300</span>
                </li>
                <li>
                <strong>Year</strong>
                <span>2019</span>
                </li>
                <li>
                <strong>Place of Study</strong>
                <span>Faculty of Computer Science</span>
                </li>
                <li>
                <strong>Hobbies</strong>
                <span>Watching Movie or TV Series, Reading books, and Doing some discussion.</span>
                </li>
            </ul>
            <table>
                <tr>
                    <th>Education</th>
                </tr>
                <tr>
                    <td>Universitas Indonesia</td>
                    <td>2019-now</td>
                </tr>
                <tr>
                    <td>SMAN 2 Depok</td>
                    <td>2016-2019</td>
                </tr>
                <tr>
                    <td>SMPN 1 Depok</td>
                    <td>2013-2016</td>
                </tr>
                <tr>
                    <td>SDN Anyelir 1</td>
                    <td>2007-2013</td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>